
/*Slider*/

#slide img{
height:300px;
width:1200px;

border:4px solid black;
border-radius:35px;
}
#slide{

margin-left:3.5%;
margin-right:auto;
}
/*Logo*/
#logo{
text-align:center;
font-size:60px;
margin-top:-10px;

}

#sideslide{
	position: absolute;
	margin-left: 7%;
	margin-top: 28%;
}

#sideslide img{
	width: 280px;
	height: 600px;
}

#sidebilder{
	position: absolute;
	margin-top: 30%;
	margin-left: 9%;

}

#sidebilder img{
	margin-top: 110px;
	width: 250px;
	height: 400px;
}

#sidebilderhovedbutikk{
	margin-top: 28%;
	position: absolute;
	margin-left: 9%;

}

#sidebilderhovedbutikk img{
	height: 250px;
	width: 250px;
}

/*Navigasjon:*/

#navigasjonsbar{

border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 2px;
	
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);


width: 1100px;
margin-left: 9.5%;
border: 1px solid black;
font-size: 26px;

}
#navigasjonsbar ul{
overflow:hidden;
}
#navigasjonsbar li{
display: inline;
margin-left:3.4%;
margin-right: 5%;
list-style:none;

}

#navigasjonsbar a:visited{
	color: white;

}

#navigasjonsbar a{
	color: white;
	text-decoration:none;
}

}
#navigasjonsbar li a{
display:block;
width:60px;
color:white;
text-decoration:none;

}
#navigasjonsbar li a:hover{
color:white;
background-color: black;
border-radius: 5px;
}



body{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top right, #808080 0%, #070808 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top right, #808080 0%, #070808 100%);

/* Opera */ 
background-image: -o-linear-gradient(top right, #808080 0%, #070808 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #808080), color-stop(1, #070808));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top right, #808080 0%, #070808 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom left, #808080 0%, #070808 100%);

font-family: tahoma;
}
/*Finn ditt treningssenter*/

aside{
    float:left;
	text-align:left;
	width: 239px;
	height: 400px;
	
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);

	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
	margin-top: -23px;
	border-right: 4px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-left: 1px solid black;
	margin-left: 9.4%;
	float: left;

}

aside li a:link{
color:white;
text-decoration:none;
}
aside li a:hover{
color:green;
}
aside li a:visited{
color:white;
}
h2{
	text-align: center;
	color: #800000;
	border-bottom:solid black 1px;
}
p,h3{
text-align:center
}

article{
margin-left:29%;
margin-right:15%;
padding:1%;
text-align:center;
border:solid black 2px;
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(45deg,  80000045,246,246,1) 0%, rgba(219,220,226,1) 54%, rgba(221,223,227,1) 57%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(245,246,246,1)), color-stop(54%,rgba(219,220,226,1)), color-stop(57%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);

text-align: center;
color:white;
font-size: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
height: 30px;
padding: 7px;
width: 1155px;
border-top-left-radius: 2px;
margin-left: 9.5%;

}

#butikk{
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 54%, rgba(221,223,227,1) 57%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(245,246,246,1)), color-stop(54%,rgba(219,220,226,1)), color-stop(57%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
max-width: 880px;
padding: 20px;
margin-left: 28%;
min-width: 850px;

border: 4px solid black;
margin-bottom: 40px;

}

#butikkh1{
	text-align: center;
}

#kjopknapp{
	width: 99%;
	font-size: 20px;
	color: white;
	border-radius: 4px;


		/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);
}



#tilbudspris{
	color: red;
	text-align: center;
}

#tilbudtabell{
	border-collapse: collapse;
	margin-left: 7%
}

#butikkpris{
	margin-left: 30%;
	color: white;
			/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);
}
/*TreningSide*/
.hide{
margin-left:20px;
}
.hide2{
margin-left:20px;
}

#treningssenter{
margin-right:80%;
margin-left:20%;
}
#iframeSenter{
border:solid black 2px;
box-shadow:5px 5px 5px;
}
#navigasjonsbarTrening 
{
list-style-image:url('icon_dumbbell.gif');
}
.mot{
width:100%;
height:100%;
}

/*Kontakt*/


#kontakt{
text-align:left;
margin-bottom:20px;
padding:20px;
}


#bildelogo{
	width: 250px;
	margin-left: 5%;

	position: absolute;
}

#syre{
color:black;
max-width: 200px;
max-height: 200px;
}

#pannekaker{
margin-left:0%;
}

.hide3{
margin-left:20px;
}

.hide4{
margin-left:20px;
}

h3{
border-bottom:solid black 1px;
} 

#Takost{
margin-left: 5%;
}

#scrollbox{
height:400px;
width:800px;
border: solid black 4px;
overflow:auto;
text-align:center;
margin-left:375px;
margin-bottom: 1%;
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 54%, rgba(221,223,227,1) 57%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(245,246,246,1)), color-stop(54%,rgba(219,220,226,1)), color-stop(57%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 54%,rgba(221,223,227,1) 57%,rgba(245,246,246,1) 100%); /* W3C */

}
.fb-like{
float:right;

}

.treningsprogrammer{
border-collapse:collapse;
width:95%;
margin-left:2.5%;
margin-right:2.5%;
border:solid black 2px;
}

