
/*Slider*/

#slider img{
height:300px;
width:1200px;

border:4px solid black;
border-radius:35px;
}

#slider{
margin-left:7%;
margin-right:auto;
}
/*Logo*/
#logo{
text-align:center;
font-size:60px;
margin-top:-10px;

}

#sideslide{
	position: absolute;
	margin-left: 7%;
	margin-top: 28%;
}

#sideslide img{
	width: 280px;
	height: 600px;
}

#sidebilder{
	position: absolute;
	margin-top: 30%;
	margin-left: 9%;

}

#sidebilder img{
	margin-top: 50px;
	width: 250px;
	height: 400px;
}

#sidebilderhovedbutikk{
	margin-top: 28%;
	position: absolute;
	margin-left: 9%;

}

#sidebilderhovedbutikk img{
	height: 250px;
	width: 250px;
}

/*Navigasjon:*/

#navigasjonsbar{
background: -webkit-linear-gradient(#545454, #0C0C0C); /* For Safari */
background: -o-linear-gradient(#545454, #0C0C0C); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#545454, #0C0C0C); /* For Firefox 3.6 to 15 */
background: linear-gradient(#545454, #0C0C0C); /* Standard syntax (must be last) */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 2px;
width: 74%;
margin-left: 9.5%;
margin-right:17.5%;
border: 1px solid black;
font-size: 26px;


}

#navigasjonsbar li{
display:inline-block;
padding-left:8%;
}

#navigasjonsbar a:visited{
	color: white;
}

#navigasjonsbar a{
	color: white;
	
}

#navigasjonsbar li a{
display:block;
width:60px;
color:white;
text-decoration:none;

}
#navigasjonsbar li a:hover{
color:white;
background-color: black;
border-radius:5px;

}
aside li a:link{
color:white;
text-decoration:none;
}
aside li a:hover{
color:green;
}
aside li a:visited{
color:white;
}



body{


background: -webkit-linear-gradient(left, #3A3A3A , #747473); /* For Safari */
background: -o-linear-gradient(right, #3A3A3A, #747473); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #3A3A3A, #747473); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #3A3A3A, #747473); /* Standard syntax (must be last) */
font-family: tahoma;
}
/*Finn ditt treningssenter*/

aside{
    float:left;
	text-align:left;
	width: 15%;
	height: 400px;
	word-wrap:break-word;
	background: -webkit-linear-gradient(#2B2B2B, black); /* For Safari */
    background: -o-linear-gradient(#2B2B2B, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2B2B2B, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2B2B2B, black); /* Standard syntax */
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
	margin-top: -23px;
	border-right: 4px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-left: 1px solid black;
	margin-left: 9.4%;
	float: left;

}

h2{
	text-align: center;
	color: #800000;
	border-bottom:solid black 1px;
}
p,h3{
text-align:center
}

article, #scrollbox{
margin-left:27%;
margin-right:15%;
padding:1%;
text-align:center;
border:solid black 2px;

background-color:#DEDEDE;
}

footer{
	

text-align: center;
color:white;
font-size: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
height: 30px;
padding: 7px;
width: 1155px;
border-top-left-radius: 2px;
margin-left: 9.5%;

}

#butikk{
background-color:#DEDEDE;
margin-left:27%;
margin-right: 10%;

border: 4px solid black;
margin-bottom: 40px;

}

#betalingsbutikk{
background-color:#DEDEDE;
margin-left:27%;
margin-right: 10%;
padding-left: 20px;
padding-bottom: 10px;

border: 4px solid black;
margin-bottom: 40px;

}

.handlestorrelse{
			/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);

color: white;

}

#handlebilde{
	border: 1px solid black;
	border-radius: 4px;
}

.handlekjop{
	width: 20%;
	font-size: 20px;
	color: white;
	border-radius: 4px;


		/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);
}

#butikkh1{
	text-align: center;
}

.kjopknapp{
	width: 99%;
	font-size: 20px;
	color: white;
	border-radius: 4px;


		/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);
}



#tilbudspris{
	color: red;
	text-align: center;
}

#tilbudtabell{
	border-collapse: collapse;
	margin-left: 7%
}

#butikkpris{
	margin-left: 30%;
	color: white;
			/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5C5A54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #000000 0%, #5C5A54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #000000 0%, #5C5A54 100%);

}

#betalingsinfo{
	font-size: 20px;
}

#cvc{
	width: 80px;
}


/*TreningSide*/
.hide{
margin-left:20px;


display: none;

display:none;

}
.hide2{
margin-left:20px;
}

#treningssenter{
margin-right:80%;
margin-left:20%;
}
#iframeSenter{
border:solid black 2px;
box-shadow:5px 5px 5px;

}
#navigasjonsbarTrening 
{
list-style-image:url('icon_dumbbell.gif');
}
.mot{
width:100%;
height:100%;
}

/*Kontakt*/


#kontakt{
text-align:left;
margin-bottom:20px;
padding:20px;
}


.ka{
text-align:center;
margin-left:28%;
margin-right:10%;
border: solid black 4px;
margin-bottom: 1%;
padding: 20px;
}



#bildelogo{
	width: 250px;
	margin-left: 5%;

	position: absolute;
}

#syre{
color:black;
max-width: 200px;
max-height: 200px;
}


#pannekaker{
margin-left:0%;
}

.hide3{
margin-left:20px;
}

.hide4{
margin-left:20px;
}

h3{
border-bottom:solid black 1px;
} 

#Takost{
margin-left: 5%;
}


.fb-like{
float:right;
}

.treningsprogrammer{
border-collapse:collapse;
width:95%;
margin-left:2.5%;
margin-right:2.5%;
border:solid black 2px;
}
.progKnapp{
background-color:green;
color:white;
border: solid 2px black;
border-radius:5px;
}
.dag1,.dag3{
background-color:#99C299;
}
.dag2,.dag4{
background-color:#CCE0CC;
}
input:focus{
background-color:#B2F0B2;
color:black;
}

